body {
	font-family: "Trebuchet MS", Helvetica, sans-sarif;
	background: #f2f2f2;
}

#container {
	width: 960px; /*720px*/ /* Para funcionar a falsa coluna, tem que ter um tamanho fixo */
	margin: 0 auto;
	background: #FFF url(../img/coluna.png) repeat-y left top;
	min-width: 720px; /* Largura mínimo, não diminuirá até quebrar, irá parar nos 720px */
	/*max-width: 960px;   Largura máximo, não expandirá todo, só até 960px*/
	/*max-height: 400px;  Altura máxima */
	/*min-height: 400px;  Altura mínima */
}

#marca {
	width: 100%;
	height: 200px;
	text-align: center;
	line-height: 200px;
	background: #225992 url(../img/cabecalho2.jpg) no-repeat center; /* Recomendado, colocar o background da imagem como center, para que ela fique sempre ajustada no centro*/
}

/*
.imagem {
	width:90%;
	overflow: hidden; /*Esconde o conteúdo que ultrapassar a "Borda" ou a largura da div 
}*/

img.img-noticia {
	width: 95%;
	padding: 2%; /* Espaço Lateral de 2% */
	max-width: 600px; /* Imagem tem o máximo de largura, de 600px */
}

#conteudo {
	width: 75%; /*520px*/
	float: right;
}
#conteudo-principal {
	width: 64%; /*320px*/
	float: left;
}
#conteudo-secundario {
	width: 33%; /*180px*/
	float: right;
	background: #d1d1d1;
}
#conteudo-secundario h1,h2,h3,p {
	padding-left: 20px;
	padding-right: 20px;
}
#conteudo-secundario p {
	font-size: 0.74em;
	text-align: justify;
}


#navegacao {
	width: 23%; /*180px*/
	float: left;
	padding-top: 20px;
	padding-bottom: 20px;
	/*background: #d1d1d1; */
}

#navegacao ul {
	list-style: none;
}
#navegacao li a {
	text-decoration: none;
}

#rodape {
	clear: both;
	padding: 2px;
	background: #939393;
	text-align: center;
}