body, html{
	margin: 0;
	font: 16px "Lato", sans-sarif;
	color: #777;
	height: 100%;
}

.conteudo {
	color: #777;
	background-color: white;
	text-align: justify;
	padding: 50px 80px;
}

h3 {
	text-transform: uppercase;
	color: #111;
}

/**
 *
 * Efeito Parallax
 *
 */


.caixa1, .caixa2, .caixa3, .caixa4 {
	position: relative;
	height: 100%;
	opacity: 0.7;
	background-repeat: no-repeat;
	background-size: cover; /* Cobre toda a área */
	background-position: center; /* Centralizar Imagem */
	background-attachment: fixed; /* Deixa a imagem fixa, segredo para o Parallax */
}

.caixa1 {
	background-image: url(../img/imagem1.jpg);
}

.caixa2 {
	background-image: url(../img/imagem2.jpg);
}

.caixa3 {
	background-image: url(../img/imagem3.jpg);
}

.caixa4 {
	background-image: url(../img/imagem4.jpg);
}

.conteudo-titulo {
	position: absolute; /* Posição absoluta, mais fácil para centralizar */
	left: 0;
	top: 50%;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
}

.conteudo-titulo span.titulo {
	background-color: #111;
	color: #FFF;
	padding: 18px;
	font-size: 25px;
	letter-spacing: 5px; /* Espaçamente entre os Textos */
}